.trend{
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100%;
    .trend-container {
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
        background-color: #fff;
    }
}